body{
  font-family: 'Raleway', sans-serif;
  height: 70%;

}
h1{
  text-align: center;
}
p{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.display{
    text-decoration: none;
    color : green;
}
.supp {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color : red;
}
.modify {
    text-decoration: none;
    color : blue;
}
.stock{
  text-decoration: none;
  color: purple;
}
input[type=submit] {
  font-size: 17px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  width: 133px;
  height: 50px;
  color: black;
  border: none;
  border-bottom: 2px solid black;
}
input[type=text] {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  width: 250px;
  height: 25px;
  border-bottom: 2px solid black;
}
.ensemble{
 text-align: center;
 width: 50%;
 margin:0 auto;
 background-color: white;
}
.blocHeader{
  margin:0 auto;
  width: 100%;
  text-align: center;
}
.blocMenu{
  width: 50%;
  margin:0 auto;
  text-align: center;
}
.blocProduct{
  width: 50%;
  margin:0 auto;
  text-align: center;
}
.blocSelection{
  width: 18%;
  margin:0 auto;
  text-align: justify;
}
.bloc2{
  width: 50%;
  margin:0 auto;
  text-align: justify;
  width: 100%;

}
.bloc3{
  margin:0 auto;
  text-align: center;

  display: flex;
}
.product{
  background-color: grey;
  text-decoration: none;
}
.BlocProd{
  color: white;
  background-color: grey;
  text-decoration: none;
}
.BlocProd:hover{
  color: black;
  background-color: #CCCCFF;
  text-decoration: none;
}
